.attributes {
  margin-bottom: 2.5rem;

  h3 {
    margin-top: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }

  &-item {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 10px;
  }
}
