.product-details {
  display: flex;
  gap: 10rem;
}

.product-summary {
  h4 {
    font-size: 3rem;
  }
}

.price {
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
}
.value {
  font-weight: 700;
  margin: 15px 0;
  font-size: 2.4rem;
}

.product-description {
  margin-top: px;
}
